/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0; /* Cinza claro */
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* Preto */
    color: white;
    padding: 20px;
}

.banner {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-bottom: 5px solid #32CD32; /* Verde claro */
}

.btn {
    background-color: #32CD32; /* Verde claro */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.features {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features li {
    margin: 10px 0;
    font-size: 18px;
}

#comprar {
    padding: 30px;
    background-color: #32CD32; /* Verde claro */
    color: white;
    border-radius: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}

